.card{width:32%;margin-left:1%}hr{border:0;height:1px;background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))}#dvd>div{display:none}.inputs input{width:25%}input[type=checkbox]{height:25px;width:25px;background-color:#eee}